# Wirtualne środowisko
venv/
dev-venv/

# Plik z zmiennymi środowiskowymi
.env

# Python bytecode
__pycache__/
*.py[cod]

# Logi i tymczasowe
*.log
*.tmp

# SonarQube
sonar-project.properties
.scannerwork/

# VSCode
.vscode/
